<style>
 body {
 	background-color:turquoise;
 }
</style><h1><strong>About the Developer</strong></h1>
<div></div>
<h2><em>I am a humble student voraciously collecting tools and learning skills to build every project more functional and beautiful than the last. I have a variety of interests including cosmology and literature from where I hope to draw inspiration for ever more imaginitive designs.</em></h2>
