<body id="about_back">
  <h1><strong>About the Developer</strong></h1>
  <div class="col-xs-12 col-sm-6" class="about-image">
    <%= image-tag("","")%>
  </div>
  <div class="col-xs-12 col-sm-6" id="about-text">
    <h3 class="about-text-inner">
    </h3>
  </div>
</body>