<body id="about_back">
  <h1><strong>About the Developer</strong></h1>
  <div class="about_text">
    <p><em>I am a humble student voraciously collecting tools and learning skills to build every project more functional and beautiful than the last. I have a variety of interests including cosmology and literature from where I hope to draw inspiration for ever more imaginitive designs.</em></p>
  </div>
</body>