<body id="about_back">
  <h1><strong>About the Developer</strong></h1>
  <div class="about_text">
    <%= image_tag("frame.png", class: " col-sm-6 hidden-xs-down img-responsive frame-img")%>
    <p class = "col-sm-6 hidden-xs-down"><em>LA born artist, adventurer and developer.</em></p>
  </div>
</body>