<body id="contact_back">
  <h1><strong>Talk to me </strong></h1>
  <h3><em>If you'd like to contact me for a chat or more information on my services, feel free!</em></h3>
  <div class="container contact_info">
    <p>Email: anezi404@gmail.com</p>
    <p>Phone: (222)222-2222</p>
    <p>Location: 240 Riverdale Drive</p>
  </div>
</body>

