<body id="index_back">
  <div class="container">
    <h1>Welcome to Local Sites!</h1>
    <h3><em>We make home town inspired streetwear</em></h3>
  </div>

  <div class="container grid_container">
    <div class="row grid_row1">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag("index-0.jpg", class: "img-responsive index-img")%>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= image_tag("index-1.jpg", class: "img-responsive index-img")%>
      </div>
    </div><!--grid_row1-->
    <div class="row grid_row2">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag("index-2.jpg", class: "img-responsive index-img")%>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= image_tag("index-3.jpg", class: "img-responsive index-img")%>
      </div>
    </div><!--grid_row/row-->
  </div><!--grid_container/container-->
</body>