<style>
body {
	background-color: yellow;
</style>
<h1>Welcome to Local Sites!</h1>
<h2><em>When you need the LA touch to your global presence</em></h2>

<p><strong>Providing services using these technologies</strong></p>
<ul>
  <li><em>Ruby (on Rails Framework)</em></li>
  <li><em>Twitter Bootstrap</em></li>
  <li><em>JavaScript, jQuery enabled sites</em></li>
</ul>