<body id="index_back">
  <div class="container">
    <h1>Welcome to Local Sites!</h1>
    <h3><em>When you need the LA touch to your global presence</em></h3>
  </div>

  <div class="container grid_container">
    <div class="row grid_row">
      <div class="col-xs-2 ">

      </div>
      <div class="col-xs-2">

      </div>
      <div class="col-xs-2">

      </div>
    </div><!--grid_row/row-->
  </div><!--grid_container/container-->
</body>