// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//gen styles
$cav-font: Caveat, Helvetica, sans-serif;
$bun-font: "Bungee Shade", sans-serif;
$hel-font: Helvetica, sans-serif;
$border-black: solid black;
//
#products_back {
  background-color: #FFFD62;
}

.products_header {
  margin-top:-.75em;
  padding: 1em;
  text-align: center;
  font-size: 5em;
  font-family: $bun-font;
  color: white;
  background-image: url(products_0.jpg);
  background-size: cover;
}

#show_back {
  background-color: turquoise;
}

.product-container {
  border: 5px $border-black;

  .product-row {
    padding: 1em;

    .product-display {
      border: 3px $border-black;
      padding: .5em;
      text-align: center;
      font-family: $cav-font;
      
    .img-responsive {
      display: inline-block;
    }

      .product-name {
        color: black;
      }

      p {
      	font-family: $hel-font;
      	font-size: 1.5em;
      	color: black;
      	margin: 1em;
      }
      
      #product-price {
        font-family: $cav-font;
        font-size:3em;
        color: blue;
      }
    }
  }
}

//oldstyles 
/*
table {
	width: 100%;
	font-size: 1.75em;
	font-family: "Caveat", sans-serif;
  
  th {
  	text-align: center;
  	padding: 1em;
  }

  td {
  	font-family: Helvetica, "sans-serif";
  	font-size: .7em;
  }
}
*/
