// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#contact_back {
	background-color: violet;
}
//////navbar
.navbar-default {
	background-color: #DF0062;
	border-color: brown;

	.navbar-brand {
  color: yellow;
  font-family: "Bungee Shade", cursive;
  font-size: 1.75em;
  }
  .navbar-brand:hover,
  .navbar-brand:focus {
  	
  }
  .navbar-nav {
    >li >a {
	  font-family:"Caveat", cursive;
	  color: #4FE310;
	  font-size: 2em;
    }

    >li>a:hover,
    >li>a:focus {
      color: #4FE310;
    }
    >.open {
    	>a,
      >a:hover,
      >a:focus {
      	color:yellow;
      } 
    }
  }
}
//
#index_back {
	background-image: url(back_0.jpg);

	h1 {
		color: purple;
		font-family: "Bungee Shade", cursive;
		font-size: 4em;
	}
}


h1,
h3 {
  color:purple;
  text-align: center;
  font-family: "Caveat", sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
	clear: both;
	color: yellow;
}

.grid_row2 {
  margin-top: 2em;
  margin-bottom: 2em;
}



/*color-palette*/
/*
navbar-yellow:E6FB00;
navborder-violet:DF0062;
neon-green:4FE310;
*/
