// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//page styles (for footer to rest at bottom of site)
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position:relative;
  margin: 0;
  padding-bottom: 3em;
  min-height: 100%;
}

// General Styles
$hand-font: "Rock Salt", "Rockwell Extra Bold", "Rockwell Bold", monospace;
$box-font: "Bungee Shade", "Lucida Sans Typewriter", "Lucida Console", monaco, monospace;
$retro-font: "Caveat", "Andale Mono", AndaleMono, monospace; 
$nav-purp:#DF0062;
$nav-green:#4FE310;
$round-corner: 5px;

///navbar
.navbar-default {
  background-color: $nav-purp;
  border-color: brown;

  .navbar-brand {
    color: yellow;
    font-family: $box-font;
    font-size: 1.75em;
  }

  .navbar-brand:hover,
  .navbar-brand:focus {
    color: yellow;
  }

  .navbar-nav {
    width: 74%;
    
    //accesses right-most element (search form)
    li:last-child { 
      float: right;
      
      label {
        color: black;
      }

      input {
        color: black;
        border-radius: $round-corner;

        .btn-default { padding: .25em; }

      }
    }
    >li {
      >a {
        font-family: $retro-font;
        color: $nav-green;
        font-size: 2em;
      }

      >a:hover,
      >a:focus {
      color: $nav-green;
      }

      .dropdown-menu {
        background-color: turquoise;
        >li {
          a {
            font-family: $retro-font;
            font-size: 1.5em;
          }

          a:hover,
          a:focus {
            background-color: $nav-purp;
            color: yellow;
            font-family: $retro-font;
          }
        }
      }
    }

    >.open {
    	>a,
      >a:hover,
      >a:focus {
      	color: yellow;
        background-color: turquoise;
      } 
    }
  }
}

// Landing Page

#landing {
  background-color: turquoise;

  #landing-head {
    background-color: black;
    color: white;
    border-radius: $round-corner;
    text-align: center;

    h4 {
      font-family: $retro-font;
    }
    h1 {
      font-family: $hand-font;
    }
  }
  #carousel-example-generic {
    height: 700px;
    width: 100%;

  }

  .carousel-control {
    margin-top: 1.25em;
    height: 500px;
  }

  .carousel-indicators {
    bottom: 11em;
  }
  .landing-product {
    margin-top:1.5em;
    padding: .5em;
    border-radius: $round-corner;
    display: flex;
    background-color: black;

    .landing-image {
      width: 50%;
      height: 500px;
      display:flex;
      justify-content: flex-start;

      .landing-img {
        display: flex;
        align-items: center;
      }
    }
    .landing_links {
      width: 50%;

      .btn-success {
        margin-left: 25%;
        margin-bottom:.25em;
        background-color:$nav-green;

        width:50%;
       
        }
      p {
        color: white;
        font-size: 1.5em;
      }
    }
  }
}

// index
@mixin header-style($size, $font) {
  text-align: center;
  font-family: $font;
  font-size: $size;
  color: purple;
}

#index_back {
  background-image: url(back_0.jpg);

  h1 {
    @include header-style(4em, $box-font)
  }

  h3 {
    @include header-style(2em, $retro-font)
  }
  
  .index-img {
  }

  .grid_row2 {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

//
//products

#notice {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 2em;
  margin: 0;
  border-radius: $round-corner;
  color: white;
  font-size:2em;

}

//
// about
#about_back {
  background-image: url(about_01.jpg);
  background-size: cover;

  h1 {
  margin-top: .75em;
  color: black;
  font-family: $hand-font;
  font-size: 2.5em;
  text-shadow: 2px 2px white;
  text-align: center;
}
}

#about_back 

.about_text {
  margin-bottom: 16em;
  
  h1 {
  font-family: $hand-font;
  }
}

//
// contact
#contact_back {
  background-image: url(about_00.jpg);
  background-size: cover;

  h1 {
    text-align: center;
    font-family: $retro-font;
    color: turquoise;
    font-size: 3.5em;
    text-shadow: 2px 2px black;
  }

  h3 {
    text-align: center;
    font-family: $retro-font;
    font-size: 1.5em;
    color: white;
  }

  .contact_info { 

    p {
      border-radius: $round-corner;
      margin-top: 1em;
      padding: 1em;
      font-family: $hand-font;
      color: white;
      background-color: rgb(93, 109, 109);
      background-color: rgba(93,109,109,.9);
    }
  }
}

//
//footer
footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  clear: both;
  color: white;
}

/*color-palette*/
/*
navbar-yellow:E6FB00;
navborder-violet:DF0062;
neon-green:4FE310;
*/
