// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#contact_back {
	background-color: violet;
}
//////navbar
.navbar-default {
	background-color: #DF0062;
	border-color: brown;

	.navbar-brand {
  color: yellow;
  font-family: "Bungee Shade", cursive;
  }
}
//
#index_back {
	background-image: url(back_0.jpg);

	h1 {
		color:purple;
		font-family:"Bungee Shade", cursive;
	}
}


h1,
h3 {
  color:purple;
  text-align: center;
  font-family: "Caveat", sans-serif;
}

footer {
  position: absolute;
  bottom:0;
	clear: both;
	color: yellow;
}



/*color-palette*/
/*
navbar-yellow:E6FB00;
navborder-violet:DF0062;
*/
